<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0KodeH1InmHMWrwxeDRvxxUb48_jYGoc</string>
	<key>GCM_SENDER_ID</key>
	<string>681985592150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ambisisChallenge</string>
	<key>PROJECT_ID</key>
	<string>ambisis-challenge</string>
	<key>STORAGE_BUCKET</key>
	<string>ambisis-challenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681985592150:ios:2dccf9f6889037e0ee64f7</string>
</dict>
</plist>